@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: 'Outfit', sans-serif;
}

body {
  font-family: 'Outfit', sans-serif;
  color: #f1f5f9;
  background: radial-gradient(circle at center, #0f172a 0%, #020617 100%);
  min-height: 100vh;
}
